:root {
  --dark: #2e2f42;
  --text: #434455;
  --light: #f4f4fd;
  --main-color: #ffffff;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
}
body {
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.span-logo {
  color: var(--dark);
}
.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}
.address {
  font-style: normal;
}
.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}
.section-hero {
  background-color: var(--dark);
}
.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-align: center;
}

.order-service-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--primary-brand);
  color: var(--main-color);
  border: 1px solid #000000;
  cursor: pointer;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: var(--pressed-state);
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
}
.title-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.section-team {
  background-color: var(--light);
}
.team-item {
  background-color: var(--main-color);
}
.page-footer {
  background-color: var(--dark);
}
.light-logo {
  color: var(--light);
}
.filter-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background: var(--light);
  border: 1px solid #e7e9fc;
  cursor: pointer;
}
.portfolio-title-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-color);
  background-color: var(--pressed-state);
}
